<footer class="text-spacing-lg">
    <div class="bright clearfix container-fluid">
        <span class="copyright-links text-spacing-md">
            <a class="menu-link" href="http://www.atsgarage.com/en/privacy-policy.html">Privacy Policy</a>
        </span>
        <span class="copyright-links text-spacing-md">
            <a class="menu-link" href="http://www.atsgarage.com/en/terms-conditions.html">Terms of use</a>
        </span>
        <span class="copyright-links text-spacing-md">
            <a class="menu-link" href="http://www.atsgarage.com/en/imprint.html">Imprint</a>
        </span>
        <span class="follow-label">Follow us:</span>
        <span>
            <a class="github social" href="https://github.com/advancedtelematic"></a>
        </span>
        <span>
            <a class="twitter social" href="https://twitter.com/ats_news"></a>
        </span>
        <span class="container-copyright">
            <span class="copyright">&copy; 2017 ats advanced telematic systems gmbh. all rights reserved</span>
        </span>
        <a class="to-top-small-logo-container" href="#header-navbar">
            <span class="small-logo"></span>
            <span id="to-top"></span>
        </a>
    </div>
</footer>