<nav class="top-bar navbar navbar-default" id="header-navbar">
    <div class="top-bar container-fluid header-wrapper">
        <div class="top-bar navbar-collapse collapse header-collapse-nav" id="navbar-menu">
            <div class="top-bar">
                <ul class="top-bar nav nav-list navbar-nav">
                    <li class="top-bar"><a href="#">Privacy policy</a></li>
                    <li class="top-bar"><a href="#">Terms of use</a></li>
                    <li class="top-bar"><a href="#">Imprint</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="footer-texts">
    <div class="follow-us">
        Follow us: 
        <a href="#" class="github-link">
            <img src="/images/github-logo.png" alt="" />
        </a>
        <a href="#" class="twitter-link">
            <img src="/images/twitter-logo.gif" alt="" />
        </a>
    </div>

    <div class="copyright">
        Copyright &copy; 2014-2017 ATS Advanced Telematic Systems GMBH. All rights reserved.
    </div>
</div>

<div id="footer-right">
    <a href="#"><img src="/images/atsgarage-min-logo.png" class="min-logo" alt="ATS logo"/></a>
    <a href="#" id="to-top"></a>
</div>