
      <nav class="top-bar navbar navbar-default navbar-fixed-top text-spacing-md" id="header-navbar">
        <div class="top-bar container-fluid header-wrapper">
          <div class="top-bar navbar-header">
            </ul><a class="top-bar navbar-brand" href="index.html"><img class="top-bar unfolded-header" src="/images/ats-logo_2.svg" alt="Advanced Telematic Systems"></a>
          </div>
          <ul class="top-bar nav navbar-nav navbar-right visible-md visible-lg visible-sm">
            <li class="top-bar visible-sm visible-md visible-lg"><a class="top-bar ats-garage-btn" href="https://www.atsgarage.com/" target="_blank">ATS Garage</a></li>
          </ul>
          <div class="top-bar navbar-collapse collapse header-collapse-nav" id="navbar-menu">
            <div class="top-bar container center-nav-container">
              <ul class="top-bar nav nav-list navbar-nav">
	            {% for header_link in site.header_links %}
	                <li class="top-bar"><a href="{{ header_link[1] }}">{{ header_link[0] }}</a></li>
	            {% endfor %}

               <li class="top-bar visible-xs"><a class="top-bar ats-garage-btn" href="https://www.atsgarage.com/" target="_blank">ATS Garage</a></li>
                <li class="top-bar visible-xs second-menu separator"></li>
                <li class="top-bar second-menu visible-xs clearfix">
                  <ul class="top-bar column">
                    <li><a href="privacy-policy.html">privacy policy</a></li>
                    <li><a href="imprint.html">imprint</a></li>
                  </ul>
                  <ul class="top-bar column">
                    <li><a href="https://twitter.com/ats_news" target="_blank">Twitter</a></li>
                    <li><a href="https://www.crunchbase.com/organization/ats-advanced-telematic-systems-gmbh" target="_blank">Crunchbase</a></li>
                    <li><a href="https://vimeo.com/advancedtelematic/videos" target="_blank">Vimeo</a></li>
                  </ul>
                </li>
                <li class="top-bar second-menu small-logo visible-xs"><img src="/images/ats-logo_2.svg" alt="ats logo"></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    
