<ul class="nav nav-tabs nav-justified" data-tabs="tabs">
    <li class="active"><a data-toggle="tab" href="#learn">Learn</a></li>
    <li><a data-toggle="tab" href="#faq">FAQ</a></li>
    <li><a data-toggle="tab" href="#reference">Reference</a></li>
</ul>

<div class="tab-content">

    <div id="learn" class="tab-pane fade in active">
        <ul class="nav nav-list">
            <li><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
            {% for section in site.sections %}
                {% assign attr = section[0] %}
                {% assign label = section[1] %}

                {% for page in site.categories[attr] %}
                    {% if forloop.first %}
                        <li class="nav-header">{{ label }}</li>
                    {% endif %}
                    <li data-order="{{ page.order }}"><a class="nav-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            {% endfor %}
        <!-- List additional links. It is recommended to add a divider
            e.g. <li class="divider"></li> first to break up the content. -->
        </ul>
    </div>

    <div id="faq" class="tab-pane fade in">
        <h4> Coming soon </h4>
        <p> </p>
    </div>

    <div id="reference" class="tab-pane fade in">
        <h5> Integrating ATS Garage </h5>
        <p> Coming soon</p>
    </div>
</div>
