<ul class="nav nav-tabs nav-justified" data-tabs="tabs">
    {% for tab in site.navigation_tabs %}
    {% assign tab_title = tab[0] %}
    {% assign tab_id = tab[1] %}
    {% assign topics = tab[2] %}
    <li {% if forloop.first %} class="active" {% endif %}><a data-toggle="tab" href="#{{ tab_id }}">{{ tab_title }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">

    {% for tab in site.navigation_tabs %}
    {% assign tab_title = tab[0] %}
    {% assign tab_id = tab[1] %}
    {% assign topics = tab[2] %}

    <div id="{{ tab_id }}" class="tab-pane fade in {% if forloop.first %} active {% endif %}">

        <ul class="nav nav-list">
        {% for topic in topics %}
            {% for section in site.sections %}
                {% if topic == section[0] %}
                    {% assign sorted_pages = site.categories[topic] | sort:"order" %}
                    {% for page in sorted_pages %}
                            {% if forloop.first %}
                                <li class="nav-header">{{ section[1] }}</li>
                            {% endif %}
                        <li><a class="nav-link" href="{{  site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>

    </div>
    {% endfor %}
</div>

